.wrapper {
  height: 2000px;
  background-color: #f5f5f5;
}

.contents {
  width: 90%;
  background-color: #fafafa;
  margin: 0 auto;
}

.header {
  background-color: white;
  height: 60px;
  border-bottom: 1px solid #f0f0f0;
}
.header img {
  height: 60px;
  float: left;
}
.header ul {
  list-style: none;
  float: right;
}
.header li {
  float:left;
  padding-right: 40px;
}

.top {
  height: 1000px;
  background-image:url(1903031236377rp52.jpg);
  background-size: cover;
  height: 600px;
}

.menu h1 {
  text-align: center;
  font-weight: normal;
}
.menu-content {
  width: 40%;
  float: left;
  margin: 5px 5%;
  height: 200px;
}
.menu-title {
  height: 40px;
  border: 1px solid #aaa;
  text-align: center;
}
.menu-title p {
  margin: 0;
  padding: 6px;
}
.menu-list {
  display: none;
}
.menu-content li {
  list-style: none;
}
